@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    color: #333333;
    font-family: 'Mitr', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    color: #111111;
    font-weight: 400;
    line-height: 1.4;   
    margin-top: 0px;
    margin-bottom: 16px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 0px;
    margin-bottom: 16px;
}

a {
    color:rgb(4, 100, 216)
}

.text-center {
  text-align: center;
}

/* Site Header*/

.site-header {
    background-color: white;
    border-bottom: 1px solid rgb(215, 215, 215);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0 ,0.1);
    display: flex;
    justify-content: flex-start;
    height: 50px;
}

.site-header-item {
    color: #111111;
    background-color: rgba(0, 0, 0 ,0);
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    transition: background-color 300ms;
}

.site-header-item:hover {
    background-color: rgba(0, 0, 0 ,0.1);
    
}

.site-header-brand img {
    display: inline-block;
    height: 32px;
    margin-right: 8px;
}

@media screen and (max-width: 480px) {
  a {
    font-size: 12px;
  }
}

/* Site Footer */ 

.site-footer {
    background-color: rgb(219, 219, 219);
    text-align: center;
    padding: 16px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 0px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


.content-section {
  padding: 64px 16px;
}

.content-section-single {
  min-height: calc(100vh - 110px);
}

.content-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.content-container-narrow {
  max-width: 600px;
}

.content-title {
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 720px) {
  .grid-2 {
      grid-template-columns: 1fr 1fr;
  }

  .grid-3 {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

.image-block {
  display: block;
  max-width: 100%;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}

.content-block {
  background-color: #000000;
  color: white;
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bolder;
}
